<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c8d6a046-fe2f-4371-a177-d24929d84458/resourceGroups/ConUSample2/providers/Microsoft.Web/sites/ConUSample2</ResourceId>
    <ResourceGroup>ConUSample2</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://conusample2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>conusample2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ConUSample2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ConUSample2</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SchoolContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:conusample2-sql.database.windows.net,1433;Initial Catalog=conusample2-sql;User ID=teste@conusample2-sql.database.windows.net;Password=F4d3s2a1" Name="Data Source=tcp:conusample2-sql.database.windows.net,1433;Initial Catalog=conusample2-sql;User Id=teste@conusample2-sql.database.windows.net;Password=F4d3s2a1;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ContosoUniversity.DAL.SchoolContext, ContosoUniversity" MigrationConfiguration="ContosoUniversity.Migrations.Configuration, ContosoUniversity" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SchoolContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:conusample2-sql.database.windows.net,1433;Initial Catalog=conusample2-sql;User Id=teste@conusample2-sql.database.windows.net;Password=F4d3s2a1;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>